<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PL Digital - Agen Pulsa Murah</title>
	<meta name="description" content="PL Digital - Agen Pulsa Murah" />
	<meta name="keywords"
		content="PL Digital, mobile app, agency, development, html, agen pulsa, pulsa murah, token murah, paket data murah, data internet" />
	<meta name="author" content="PL Digital" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="https://pldigital22.bitbucket.io/assets/images/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="https://pldigital22.bitbucket.io/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://pldigital22.bitbucket.io/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="https://pldigital22.bitbucket.io/assets/css/orange.css" rel="stylesheet" type="text/css">
</head>

<body class="home-body">

	<!-- ***** Preloader Start ***** -->
	<!-- <div class="loader-wrapper">
		<div class="loader">
			<div class="diamond"></div>
			<div class="diamond"></div>
			<div class="diamond"></div>
		</div>
	</div> -->
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<!-- ***** Header Area End ***** -->
	<div class="welcome-apps-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="apps">
						<div class="icon-text-top">
							<p>PL Digital</p>
						</div>
						<a href="pulsa.html" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/51.gif"
									class="img-fluid" alt="">
							</div>
						</a>
						<a href="orange-app-single.html" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/50.png"
									class="img-fluid" alt="">
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/95344" target="_blank" rel="noopener noreferrer"
							data-crabtype="counter" class="app-item"
							data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s" class="changebubble">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/49.gif"
									class="img-fluid" alt="">
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ***** Our Team Start ***** -->
	<section class="section pbottom-20">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item active">
						<div class="header">
							<div class="img">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/profil.png" alt="" srcset="">								
							</div>
							<div class="info">
								<strong> Hallo! {{nama_user}}</strong>
								<span>Status Member:</span>
								<p>{{nama_membership}}</p>
							</div>
						</div>
						<div class="body">
								<img style="margin-right: 250px;" src="https://pldigital22.bitbucket.io/assets/images/icons/apps/48.png" alt="" srcset="">
								<div id="saldo_user" style="margin-top:-35px; margin-right:50px ;">Rp. {{saldo_user}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ***** Our Team End ***** -->

	<!-- ***** Home Apps Start ***** -->
	<div class="welcome-apps-index">
		<div class="container">

			<div class="row">
				<div class="col-lg-12">
					<div class="apps">
						<a href="https://ompulsa.webtoko.net/digital/93454" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/47.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Pulsa Murah</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/1.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Paket Reguler</p>
							</div>
						</a>
						<a href="ompulsa.webtoko.net/digital/94856" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/3.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Token PLN</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/46.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>TopUp E-Wallet</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/2.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Paket Internet</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/4.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Paket Nelpon</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/5.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Paket SMS</p>
							</div>
						</a>
						<a href="https://ompulsa.webtoko.net/digital/96440" class="app-item">
							<div class="icon">
								<img src="https://pldigital22.bitbucket.io/assets/images/icons/apps/8.gif"
									class="img-fluid" alt="">
							</div>
							<div class="icon-text">
								<p>Menu Lainnya</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ***** Home Apps End ***** -->


	<!-- ***** Home About - Services Start ***** -->
	<section class="section services-section pbottom-20">
		<div class="container">
			<div class="row">
				<!-- ***** Home About Start ***** -->
				<div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-bottom-fix">
					<a href="#" class="btn-primary-line">Promo</a>
				</div>
				<!-- ***** Home About End ***** -->

				<!-- ***** Home Services Start ***** -->
				<div class="offset-lg-1 col-lg-6 col-md-12 col-sm-12 align-self-center">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-12">
							<a href="orange-services-single.html" class="home-services-item active"
								data-scroll-reveal="enter bottom move 30px over 0.6s after 0.3s">
								<h5 class="services-title">Design & User Experience</h5>
								<p>Donec pellentesque turpis utium lorem imperdiet semper viverra.</p>
							</a>
						</div>
					</div>
				</div>
				<!-- ***** Home Services End ***** -->
			</div>
		</div>
	</section>
	<!-- ***** Home About - Services Start ***** -->


	<!-- ***** Features Start ***** -->
	<!-- ***** Features End ***** -->


	<!-- ***** Our Team Start ***** -->
	<!-- ***** Our Team End ***** -->


	<!-- ***** Counter Parallax Start ***** -->
	<!-- ***** Counter Parallax End ***** -->

	<!-- ***** Blog Start ***** -->
	<!-- ***** Blog End ***** -->


	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">© 2021 - 2022. PL Digital.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer Start ***** -->



	<!-- jQuery -->
	<script src="https://pldigital22.bitbucket.io/assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="https://pldigital22.bitbucket.io/assets/js/popper.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="https://pldigital22.bitbucket.io/assets/js/scrollreveal.min.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/parallax.min.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/waypoints.min.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/jquery.counterup.min.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/imgfix.min.js"></script>

	<!-- Global Init -->
	<script src="https://pldigital22.bitbucket.io/assets/js/custom.js"></script>
	<script src="https://pldigital22.bitbucket.io/assets/js/freshchat.js"></script>
</body>
<script>
	function rubah(angka) {
		var reverse = angka.toString().split('').reverse().join(''),
			ribuan = reverse.match(/\d{1,3}/g);
		ribuan = ribuan.join('.').split('');
		return "Rp" + ribuan;
	}
	document.getElementById("saldo_user").innerText = rubah(document.getElementById("saldo_user").textContent);
</script>

<script>
	changecrab_config = {
		"projectid": "B7Ikxk",
		"selector": ".changebubble",
		"type": "full",
		"emptycolor": 'rgb(208 208 208)',
		'activecolor': 'rgb(232 23 71)'
	};
</script>
<script src="https://changecrab.com/embed/embed.js"></script>


</html>