<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PL Digital - Agen Pulsa Murah</title>
	<meta name="description" content="PL Digital - Agen Pulsa Murah" />
	<meta name="keywords"
		content="PL Digital, mobile app, agency, development, html, agen pulsa, pulsa murah, token murah, paket data murah, data internet" />
	<meta name="author" content="PL Digital" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="assets/images/favicon.png" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="assets/css/orange.css" rel="stylesheet" type="text/css">

	<style>



.word {
  position: absolute;
  width: 220px;
  opacity: 0;
  color: #000000;
  font-weight: 800;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

	</style>
</head>

<body class="home-body">

	<!-- ***** Preloader Start ***** -->
	<!-- <div class="loader-wrapper">
		<div class="loader">
			<div class="diamond"></div>
			<div class="diamond"></div>
			<div class="diamond"></div>
		</div>
	</div> -->
	<!-- ***** Preloader End ***** -->

	<!-- ***** Header Area Start ***** -->
	<!-- ***** Header Area End ***** -->
	<!-- ***** Our Team Start ***** -->
	<section class="section pbottom-200">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-12">
					<div class="team-item active">
						<div class="header">
							<div class="info">
								<strong style="
								margin-left: 80px;"> Hallo! {{nama_user}}</strong>
							</div>
						</div>
						<div class="body"><a href="" style="color: white;"><div class="text">
							<p>Belum bisa <span style="font-size: 18px;">Diakses, </span>masih dalam tahap <h3 style="
								font-size: 20px; color: azure;margin-bottom: 5px;">Pengembangan</h3>Terima Kasih</p>
							<p style="font-size: 18px;margin-right: 70px; margin-top: 10px;">PL Digital...
							  <span style="margin-left:20px;" class="word">Agen</span>
							  <span style="margin-left:20px;" class="word">Pulsa</span>
							  <span style="margin-left:20px;" class="word ">Murah.</span>
							</p>
							
						  </div>						  
						</div>
					</div>
				</div>
	</section>
	<!-- ***** Our Team End ***** -->

	<!-- ***** Home Apps Start ***** -->
	<!-- ***** Home Apps End ***** -->


	<!-- ***** Home About - Services Start ***** -->
	<!-- ***** Home About - Services Start ***** -->


	<!-- ***** Features Start ***** -->
	<!-- ***** Features End ***** -->


	<!-- ***** Our Team Start ***** -->
	<!-- ***** Our Team End ***** -->


	<!-- ***** Counter Parallax Start ***** -->
	<!-- ***** Counter Parallax End ***** -->

	<!-- ***** Blog Start ***** -->
	<!-- ***** Blog End ***** -->


	<!-- ***** Footer Start ***** -->
	<!-- ***** Footer Start ***** -->



	<!-- jQuery -->
	<script src="assets/js/jquery-3.6.0.min.js"></script>

	<!-- Bootstrap -->
	<script src="assets/js/popper.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>

	<!-- Plugins -->
	<script src="assets/js/scrollreveal.min.js"></script>
	<script src="assets/js/parallax.min.js"></script>
	<script src="assets/js/waypoints.min.js"></script>
	<script src="assets/js/jquery.counterup.min.js"></script>
	<script src="assets/js/imgfix.min.js"></script>

	<!-- Global Init -->
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/freshchat.js"></script>
</body>
<script>
	function rubah(angka) {
		var reverse = angka.toString().split('').reverse().join(''),
			ribuan = reverse.match(/\d{1,3}/g);
		ribuan = ribuan.join('.').split('');
		return "Rp" + ribuan;
	}
	document.getElementById("saldo_user").innerText = rubah(document.getElementById("saldo_user").textContent);
</script>

<script>
	changecrab_config = {
		"projectid": "B7Ikxk",
		"selector": ".changebubble",
		"type": "full",
		"emptycolor": 'rgb(208 208 208)',
		'activecolor': 'rgb(232 23 71)'
	};
</script>
<script src="https://changecrab.com/embed/embed.js"></script>

<script>

var words = document.getElementsByClassName('word');
var wordArray = [];
var currentWord = 0;

words[currentWord].style.opacity = 1;
for (var i = 0; i < words.length; i++) {
  splitLetters(words[i]);
}

function changeWord() {
  var cw = wordArray[currentWord];
  var nw = currentWord == words.length-1 ? wordArray[0] : wordArray[currentWord+1];
  for (var i = 0; i < cw.length; i++) {
    animateLetterOut(cw, i);
  }
  
  for (var i = 0; i < nw.length; i++) {
    nw[i].className = 'letter behind';
    nw[0].parentElement.style.opacity = 1;
    animateLetterIn(nw, i);
  }
  
  currentWord = (currentWord == wordArray.length-1) ? 0 : currentWord+1;
}

function animateLetterOut(cw, i) {
  setTimeout(function() {
		cw[i].className = 'letter out';
  }, i*80);
}

function animateLetterIn(nw, i) {
  setTimeout(function() {
		nw[i].className = 'letter in';
  }, 340+(i*80));
}

function splitLetters(word) {
  var content = word.innerHTML;
  word.innerHTML = '';
  var letters = [];
  for (var i = 0; i < content.length; i++) {
    var letter = document.createElement('span');
    letter.className = 'letter';
    letter.innerHTML = content.charAt(i);
    word.appendChild(letter);
    letters.push(letter);
  }
  
  wordArray.push(letters);
}

changeWord();
setInterval(changeWord, 4000);



</script>

</html>