
.tinggi-konten {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#offcanvasBottomLabel {
  font-size: 16px;
  text-align: center;
  margin-left: 25%;
  opacity: 0.6;
  margin-top: -2%;
}

.jarakKlik {
  width: 100%;
  min-height: 7px;
  background-color: black;
  opacity: 0.090;
}

.dataKlik {
  width: 102%;
  height: 200%;
  background-color: white;
  position: absolute;
  margin-left: -5%;
  margin-top: -5%;
  padding-top: 3%;
}

.tinggi-konten {
  margin-top: -90%;
  height: auto;
  background-color: white;
}

.dataKlik h2 {
  margin-left: 5%;
  font-size: 14px;
  opacity: 0.8;
  float: left;
}

.dataKlik h3 {
  margin-left: 5%;
  font-size: 17px;
  opacity: 0.8;
}

.dataKlik h5 {
  font-size: 14px;
  margin-left: 5%;
  float: left;
  border: 1px solid #26A795;
  padding: 4px;
  border-radius: 5px;
  margin-right: 0.5%;
  margin-top: 2%;
  margin-bottom: 5%;
  font-weight: normal;
  padding-left: 10px;
  padding-right: 10px;
  color: #26A795;
}

.dataKlik h5:hover {
  background-color: #26A795;
  color: white;
}

.dataKlik p {
  margin-left: 5%;
  font-size: 14px;
  opacity: 0.6;
  text-align: right;
  margin-right: 6%;
}

.cleaning {
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  border: none;
  background-color: #647282;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border-radius: 5px;
  margin-top: 2%;
}

.postdata {
  margin-top: 2%;
  width: 40%;
  float: left;
  margin-left: 5%;
  margin-right: 2%;
  border: none;
  background-color: #26A795;
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  border-radius: 5px;
}

/* CSS HEADER */
.konten_bg {
  width: 100%;
  min-height: 50px;
  top: 0;
  left: 0;
  background-color: #26a694;
}

.konten_header {
  width: 100%;
  height: 100%;
  left: 0;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -10%;
  background-color: white;
}

.input_konten {
  width: 100%;
  height: auto;
  padding-top: 2%;
}

.input_konten p {
  margin-top: 5%;
  margin-left: 2.5%;
  opacity: 0.8;
}

.input_konten span {
  margin-left: 2.5%;
  font-size: 10px;
  opacity: 0.8;
}

.input_konten input {
  margin-top: -7%;
  width: 95%;
  border: none;
  border-bottom: 1px solid #9a9a9a;
  font-size: 18px;
  margin-left: 2.5%;
  padding-top: 2%;
  padding-bottom: 2%;
  outline: none;
  font-weight: bold;
  opacity: 0.9;
}

.notice {
  font-size: 14px;
  padding-left: 5%;
  opacity: 0.8;
  float: left;
  clear: both;
}

#alertWarning {
  font-size: 12px;
  z-index: 10;
}

#alertWarning h1 {
  font-size: 20px;
  position: absolute;
  margin-top: -16%;
  margin-left: 88%;
  color: red;
  z-index: 10;
}

#img_operator {
  position: absolute;
  width: 7%;
  height: auto;
  margin-left: -16%;
  z-index: 4;
}

.img_kontak {
  position: absolute;
  width: 7%;
  height: auto;
  margin-left: -6%;
  z-index: 5;
}

.produk_pulsa {
  width: 45%;
  min-height: 70px;
  border-radius: 10px;
  border: 1px solid rgb(203, 203, 203);
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 5%;
}

.produk_pulsa h2 {
  font-size: 22px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.produk_pulsa p {
  font-size: 12px;
  margin-left: 5%;
  margin-bottom: 2%;
  opacity: 0.7;
}

.produk_pulsa h3 {
  font-size: 14px;
  margin-left: 5%;
}

#pulsa_indosat,
#pulsa_simpati,
#pulsa_xl,
#pulsa_axis,
#pulsa_tri,
#pulsa_smartfren {
  display: none;
}

#spinner_load {
  opacity: 0.6;
}

#alertNomor {
  position: absolute;
  text-align: center;
  width: 100%;
  opacity: 1;
  background-color: white;
  margin-top: -45%;
  z-index: 10;
  display: none;
}